!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title BETACMS
    %meta{:content => "[DESCRITPION WEBSITE]", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    / <link rel="shortcut icon" href="/FAVICON-NAME">
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
  %body

    %script{:src => "scripts/master.js"}